<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snack Crud Project</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'snack_list' %}">Home</a></li>
        </ul>
    </nav>
</header>

<body>

    {% block content %}
    <h1>Oops looks like a child template is Missing Block Content</h1>
    {% endblock content %}
    
</body>
</html>